body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
}

#backgroundImage {
    width: 1024px; /* 배경 이미지의 너비 */
    height: 700px; /* 배경 이미지의 높이 */
}

#foregroundImage {
    position: absolute;
    max-width: 1024px; /* 이미지의 최대 너비 */
    max-height: 700px; /* 이미지의 최대 높이 */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* 버튼 사이의 간격 */
}

.button-container button {
    width: 50px; /* 버튼의 너비 */
    height: 50px; /* 버튼의 높이 */
    font-size: 20px; /* 버튼 텍스트의 크기 */
    padding: 10px; /* 버튼 내부 여백 */
}
